<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyAmazoonJ2EE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>it.aizoon.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteControllerList</display-name>
    <servlet-name>UtenteControllerList</servlet-name>
    <servlet-class>it.aizoon.controller.UtenteControllerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteControllerList</servlet-name>
    <url-pattern>/UtenteControllerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EsempioServletTabellaPitagorica</display-name>
    <servlet-name>EsempioServletTabellaPitagorica</servlet-name>
    <servlet-class>it.aizoon.servlet.EsempioServletGetPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EsempioServletTabellaPitagorica</servlet-name>
    <url-pattern>/EsempioServletTabellaPitagorica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdottoListController</display-name>
    <servlet-name>ProdottoListController</servlet-name>
    <servlet-class>it.aizoon.controller.ProdottoListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdottoListController</servlet-name>
    <url-pattern>/ProdottoListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdottoDeleteController</display-name>
    <servlet-name>ProdottoDeleteController</servlet-name>
    <servlet-class>it.aizoon.controller.ProdottoDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdottoDeleteController</servlet-name>
    <url-pattern>/ProdottoDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdottoCreateController</display-name>
    <servlet-name>ProdottoCreateController</servlet-name>
    <servlet-class>it.aizoon.controller.ProdottoCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdottoCreateController</servlet-name>
    <url-pattern>/ProdottoCreateController</url-pattern>
  </servlet-mapping>
</web-app>